@model IEnumerable<ContosoUniversity.ViewModels.EnrollmentDateGroup>

@{
    ViewBag.Title = "Student Body Statistics";
}

<h2>@ViewBag.Title</h2>

<table>
    <tr>
        <th>
            Enrollment Date
        </th>
        <th>
            Students
        </th>
    </tr>

    @foreach (var items in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => items.EnrollmentDate)
            </td>
            <td>
                @items.StudentCount
            </td>
        </tr>
    }

</table>